QPushButton {
    background-color: #008CBA;
    border-radius: 6px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;

    min-width: 100%;
    min-height: 40%;
}

QPushButton:pressed {
    background-color: red;
}

QLabel {

    min-width: 100%;
    max-height: 80px;
    min-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

QLabel#label_image {
    max-width: 1280px;
    min-width: 640px;
    max-height: 720px;
    min-height: 480px;
}

QSlider::groove:horizontal {
    border: 1px solid #bbb;
    background: white;
    height: 10px;
    border-radius: 4px;
    min-width: 100px;
}

QSlider::sub-page:horizontal {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
            stop: 0 #66e, stop: 1 #bbf);
    background: qlineargradient(x1: 0, y1: 0.2, x2: 1, y2: 1,
            stop: 0 #bbf, stop: 1 #55f);
    border: 1px solid #777;
    height: 10px;
    border-radius: 4px;
}

QSlider::add-page:horizontal {
    background: #fff;
    border: 1px solid #777;
    height: 10px;
    border-radius: 4px;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
            stop:0 #eee, stop:1 #ccc);
    border: 1px solid #777;
    width: 13px;
    margin-top: -2px;
    margin-bottom: -2px;
    border-radius: 4px;
}

QSlider::handle:horizontal:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
            stop:0 #fff, stop:1 #ddd);
    border: 1px solid #444;
    border-radius: 4px;
}

QSlider::sub-page:horizontal:disabled {
    background: #bbb;
    border-color: #999;
}

QSlider::add-page:horizontal:disabled {
    background: #eee;
    border-color: #999;
}

QSlider::handle:horizontal:disabled {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 4px;
}

QFrame#frame_left {
    border: 2px solid #008CBA;
    border-radius: 5px;
}